html {
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: #343536;
    background-color: #d6d6d6;
    /* width: 100%; */
}

header {
    height: 4%;
    width: 100%;
    background-color: #343536;
    box-shadow: 0 0 10px #000;
}

ul {
    float: left;
    position: relative;
    margin: 0.5em;
    padding-inline-start: 20px;
    /* left: 2%; */
}

ul li {
    display: inline;
    margin: 0.25em;
}

ul li a {
    text-decoration: none;
    color: #d6d6d6;
    font-size: 16px;
    padding: 0;
    margin: 0.25em;
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 3%;
    background-color: #343536;
    box-shadow: 0 0 10px #000;
    text-align: left;
    margin: 0 auto;
    margin-top: 2%;
    padding-inline-end: 0;
    color: #d6d6d6;
}

table {
    border-collapse: collapse;
    width: auto;
    margin: 0.5%;
    table-layout: fixed;
}

td,
th {
    border: 2px solid #343536;
    text-align: left;
    padding: 6px;
    overflow: hidden;
    white-space: nowrap;
}

h1 {
    text-align: left;
    margin-left: 0.5%;
}

tbody {
    margin: 5%;
    padding-bottom: 20px;
}